<a href="https://colab.research.google.com/github/Brinda1994/assignment_05_pynb/blob/main/assignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Write a program to find sum of all elements in a list of integers.

total = 0
list = [10, 25, 34, 5, 43]

for element in range(0, len(list)):
    total = total + list[element]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  117

In [ ]:
#2. Input a sentence as a string.
 #a) Print its length
 #b) Print the first half of string

s = "Hello, World!"
print(len(s))
string = s[:5]
print(string)

13
Hello

In [ ]:
#3. Write a program to enter a tuple of integers as(78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

t = (78,45,32,19,82,77,40,39)
lst = list(t)
lst[2] = 100
t = tuple(lst)
print(t)

(78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
#4.Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
#(a)Delete the first occurrence of 32
#(b)Delete all occurrences of 40
#(c)Delete the value at index=5
#(d)Modify the value at index=9 as 300
#(e)Add 200 at index=2
#(f)Print the final list with its length, maximum value and sum of all elements

In [ ]:
list = [19,32,10,55,31,32,94,29,10,65,77,40,40]
list.remove(list[0])
print(list)

[32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [ ]:
val = 40
list.remove(val)
print(list)

[32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

In [ ]:
del list[5]
print(list)

[32, 10, 55, 31, 32, 29, 10, 65, 77, 40]

In [ ]:
list[9] = 300
print(list)

[32, 10, 55, 31, 32, 29, 10, 65, 77, 300]

In [ ]:
list.insert(2,200)
print(list)

[32, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

In [ ]:
n = len(list)
print("The length of list is: ", n)

The length of list is:  11

In [ ]:
print("Max value element : ", str(max(list)))

Max value element :  300

In [ ]:
total = sum(list)
print(total)

841

In [ ]:
#5.Consider a string ”The day has been long”.
#(a)Delete the value at index =4
#(b)Print the string 4 times in a single line with space between each repetition
#(c)Print the string 3 times in a new line each time
#(d)Modify the string at index 7 as ’A’
#(e)Print the string from index 4 to 15

In [ ]:
string = "The day has been long"
Index = 4
print(string.replace(string[Index],"",4))

The ay has been long

In [ ]:
string = "The day has been long"
n = 4
print(f"{string} "*n)

The day has been long The day has been long The day has been long The day has been long

In [ ]:
string = "The day has been long"
n = 3
print(f"{string}\n "*n)

The day has been long
 The day has been long
 The day has been long

In [ ]:
string = "The day has been long"
i = 7
new_char = 'A'
new_string = string[:i] + new_char + string[i+1:]
print(new_string)

The dayAhas been long

In [ ]:
string = "The day has been long"
print(string[4:16])

day has been